services:
    postgres:
        image: postgres:18.1-bookworm
        env_file:
            - .env
        ports:
            - "5432:5432"
        volumes:
            - ./db/postgres_data:/var/lib/postgresql
            - ./db/migrations:/docker-entrypoint-initdb.d
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB"]
            interval: 10s
            timeout: 10s
            retries: 5

    pgadmin:
        image: dpage/pgadmin4
        restart: always
        environment:
            PGADMIN_DEFAULT_EMAIL: admin@example.com
            PGADMIN_DEFAULT_PASSWORD: admin_password
        ports:
            - "5050:80"
        volumes:
            - pgadmin_data:/var/lib/pgadmin
        depends_on:
            postgres:
                condition: "service_healthy"

    rust_service:
        build:
            context: "./rust_service"
            dockerfile: "Dockerfile"
        environment:
            DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
        env_file:
            - .env
        ports:
            - "3000:3000"
        depends_on:
            postgres:
                condition: "service_healthy"

volumes:
    postgres_data:
    pgadmin_data:
